body, html {
  margin:0px;
}
.navbar {
  overflow: hidden;
  background-color: rgb(156, 84, 84);
  position: fixed;
  top: 0;
  width: 100%;
}
footer { 
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:rgb(156, 84, 84);;
  color: white;
  text-align: center;
}
