body { 
  background: url(img/background.jpg) no-repeat center center fixed; 
  width: 100vw;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin:0px;
}
.navbar {
  overflow: hidden;
  background-color: rgb(156, 84, 84);
  position: fixed;
  top: 0;
  width: 100%;
}
footer { 
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:rgb(231, 195, 195);;
  color: white;
  text-align: center;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: rgb(236, 117, 19);
}
